<div class="mt-5 p-4 bg-white rounded-2">
	<form id="analyzing-form" method="POST" action="{% url 'auditor:analyzing_ajax' %}">
		{% csrf_token %}
		<div class="d-flex w-full">
			<input type="url" name="url" class="form-control flex-none w-100" placeholder="Example.com">
			<div class="ml-auto ps-3">
				<button type="submit" class="btn btn-info text-uppercase px-4 text-white">Audit</button>
			</div>
		</div>
	</form>
</div>

<div id="analyzing-result" class="mt-5">
	<div id="loading" class="d-flex align-items-center fs-6 d-none">
		<strong>Analyzing please wait...</strong>
		<div class="spinner-border ms-auto" role="status" aria-hidden="true" style="width: 20px; height: 20px"></div>
	</div>

	<div id="result"></div>
</div>